@model IEnumerable<ASPNETCORE_app_with_repository_pattern.Model.Vehicle>

@{
    ViewData["Title"] = "Get";
}

<h1>Get</h1>
<div asp-controller ="Vehcile">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleBrand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleBrand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
